:root {
    --gap: 20px;
    --toggle-menu: 300px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    grid-area: sidebar;
}
.sidebar {
    max-width: 0;
    transform-origin: center left;
    background: #36f;
    margin: 0;
    transition: 0.5s all ease;
}

.sidebar.__active {
  max-width: var(--toggle-menu);
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    color: #444;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: var(--gap);
    grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer"
}

@media only screen and (min-width: 500px)  {
    .wrapper {

        grid-template-columns: 20% auto;
        grid-template-areas:
        "header   header"
        "sidebar  content"
        "footer   footer";
    }
}

@media only screen and (min-width: 600px)   {
    .wrapper {
        grid-gap: var(--gap);
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
    }
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 150%; 
}

.header,
.footer {
    background-color: #999;
    height: 45px;
}

.content {
    height: calc(90vh - calc(var(--gap)*2));
    max-width: 100%;
}

.btn-icon {
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 8px;
}

.icon {
    width: 24px;
    fill: white;
}

.btn-icon:hover .icon {
    fill: #36f;
}

 /* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel nav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  height: 45px;
}

.openbtn:hover {
  background-color: #444;
} 