<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="utf-8"/>
        <title>
        {% block title %}
            People app
        {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'pessoas/css/main.css' %}" type="text/css"/>
    </head>
    <body>
        <header class="box header">
            <button class="openbtn" onclick="openNav()">&#9776; Menu</button> 
        </header>
        <!-- <div class="box header">
            <button class="js-active-menu btn-icon">
                <svg class="icon" viewBox="0 0 20 20">
                    <path d="M0 3h20v2h-20v-2zM0 9h20v2h-20v-2zM0 15h20v2h-20v-2z"></path>
                </svg>
            </button>
            HEADER
        </div> -->
        <aside class="sidepanel __active" id="mainSidepanel">
            <nav class="menu">
                <ul>
                <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#create">Create</a></li>
                </ul>
            </nav>
        </aside>
        {% block content %}
        Nothing here
        {% endblock content %}
    </body>
    <script src="{% static 'pessoas/js/main.js' %}"></script>
</html>